<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });
}

function initMap() {
  var myLatLng = {lat: 40.712784, lng:-74.005941 };

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: myLatLng
  });

  // var marker = new google.maps.Marker({
  //   position: myLatLng,
  //   map: map,
  //   title: 'Hello World!'
  // });

  <% @parks.each do |park| %>   
  var marker = new google.maps.Marker({
    position: {lat: <%=park.latitude%>, lng: <%=park.longitude%>},   //putting erb into javascript to create multiple tags on google map for locations in our db -- public parks controller to iterate through lat lng
    map: map,
    title: "<%=park.name%>"
  });
  <% end %> // closing our open erb 
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqF6HleM6x7DGblO5v4nsY9-8jzuucCIo&callback=initMap">
    </script>
  </body>
</html>