<p> <%= link_to "Sign in", signup_path %> </p>
<% if current_user %>
 <p> <%= "Welcome, #{current_user.name}" %> </p>
 <p> <%= link_to "Log out", logout_path %> </p>
 <% else %>
 <p> <%= link_to "Log in", login_path %> </p>
<% end %>
